<%- include('includes/head.ejs') %>
  </head>

  <body>
    <%- include('includes/navigation.ejs') %>
    <div style="display:flex; flex-direction: column; margin-top: 160px; align-self: center; width: 100%; height: 100%; justify-content: center; align-items: center;">
      <img style="width: 200px; height: 200px;" src="https://cdn-icons-png.flaticon.com/512/580/580185.png"/>
      <h1 style="color: white;" >Ooops... An Error occured!</h1>
    </div>
   

<%- include('includes/end.ejs') %>

